---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Nav from "../components/Nav.astro";
import Skills from "../components/Skills.astro";
---

<Layout title="Accueil">
  <Nav
    alt=""
    src="../public/assets/logo.png"
    hrefPortfolio=""
    hrefContact=""
    hrefHome=""
    home="Accueil"
    portfolio="Portfolio"
    contact="Contact"
  />
  <main>
    <div class="introduction">
      <div class="intro-text">
        <h2>👋 Salut, moi c'est</h2>
        <h1><span class="text-gradient">Sébastien</span></h1>
        <p class="job">Concepteur d'applications</p>
      </div>
      <img
        class="profile"
        src="../public/assets/profile.png"
        alt="photo sébastien"
      />
    </div>
    <p class="instructions">
      Je suis <strong>développeur web junior</strong> spécialisé dans la <strong
        >conception d'applications web</strong
      >. J'ai travaillé sur de nombreux projets qui m'ont permis de <strong
        >développer mes compétences</strong
      > en matière de <strong>développement web</strong>. <br /><br /> Grâce à ces
      <strong>connaissances</strong>, je suis capable de <strong
        >créer des applications web professionnelles et modernes</strong
      >. J'aime <strong>travailler en équipe</strong> et <strong
        >collaborer</strong
      > sur des <strong>projets passionants</strong>. <br />
      <br /> Je suis toujours à l'affût de <strong
        >nouvelles technologies</strong
      > et je suis prêt à <strong>développer de nouvelles compétences</strong> afin
      de continuer à <strong> progresser dans mon métier</strong>.
    </p>
    <h1 class="title-skills">
      👨‍💻 <span class="text-gradient">Compétences</span>
    </h1>
    <div class="skills">
      <Skills
        src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/angularjs/angularjs-plain.svg"
        title="Angular"
        alt="angular logo"
      />
      <Skills
        src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-plain.svg"
        title="Javascript"
        alt="javascript logo"
      />
      <Skills
        src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-plain-wordmark.svg"
        title="HTML"
        alt="html logo"
      />
      <Skills
        src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-plain-wordmark.svg"
        title="CSS"
        alt="css logo"
      />
    </div>
    <div class="skills">
      <Skills
        src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/typescript/typescript-plain.svg"
        title="Typescript"
        alt="typescript logo"
      />
      <Skills
        src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/symfony/symfony-original.svg"
        title="Symfony"
        alt="symfony logo"
      />
      <Skills
        src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/mysql/mysql-original-wordmark.svg"
        title="MySQL"
        alt="mysql logo"
      />
      <Skills
        src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/php/php-plain.svg"
        title="PHP"
        alt="php logo"
      />
    </div>
    <hr class="line" />
    <div class="skills">
      <Skills
        src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/git/git-original.svg"
        title="Git"
        alt="git logo"
      />
      <Skills
        src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg"
        title="GitHub"
        alt="github logo"
      />
      <Skills
        src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/gitlab/gitlab-original.svg"
        title="GitLab"
        alt="gitlab logo"
      />
      <Skills
        src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/figma/figma-original.svg"
        title="Figma"
        alt="figma logo"
      />
    </div>
    <hr class="line" />
  </main>
</Layout>

<style>
  :root {
    --accent: 49, 115, 60;
    --accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #65d776 50%);
  }
  body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter Variable", sans-serif;
  }
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 70%;
  }
  h1 {
    font-size: 4rem;
    font-weight: 800;
    margin: 0;
  }

  h2 {
    color: #31733c;
    font-weight: 400;
  }

  .title-skills {
    text-align: center;
    margin-top: 40px;
  }

  .job {
    background-color: #31733c;
    width: 300px;
    font-size: 22px;
    color: white;
    font-weight: 500;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
  }
  .introduction {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .profile {
    width: 300px;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .instructions {
    line-height: 1.6;
    margin: 1rem 0;
    border: 1px solid rgba(var(--accent), 25%);
    background-color: white;
    color: #31733c;
    font-size: 20px;
    padding: 1rem;
    border-radius: 0.4rem;
    font-weight: 400;
    text-align: justify;
  }
  .instructions strong {
    color: rgb(var(--accent-gradient));
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
  }

  .skills {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 130px;
    width: 100%;
    margin: auto;
    margin-top: 60px;
  }

  .line {
    background-color: #31733c;
    height: 2px;
    border: none;
    width: 50%;
    margin-top: 50px;
  }
</style>
